body {
    background-image:    url(images/background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center 15%;              
}

.display-1 {
    text-align: center;
    padding: 125px;
    color: #ffffff;
  }

.display-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-400%);
    color: #ffffff;
  }
/*#greeting-container {
  margin-top: 20px;
}*/



